.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(225, 211, 211);
}

.weather {
  width: 35rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.weather-panel {
  padding-left: 3.5rem;
  padding-top: 4rem;
}

.temp_val {
  font-size: 3.5rem;
  font-weight: bold;
}

.degree {
  font-weight: lighter;
}

.wt-icon{
  font-size: 20px;
}